@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body{
    font-family: 'Inter';
}

@media (max-width: 1200px){

    .leftbar-login{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10vh;
        background: #011B72;
        border-radius: 16px;
        text-align: center;
        padding: 25px;
    }
    h1{
        font-weight: 700;
        color: #fff;
    }
    .h5-text{
        margin-top: 15px;
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }
    .a-link{
        margin-top: 35px;
        text-decoration: none;
        font-weight: 700;
        color: #ffffff;
     }
     
     .a-link:hover{
        color: #a0a7bb;
     }


    .btn-entrar{
        width: 167px;
        height: 50px;
        top: 621px;
        margin: auto;
        background: #fff;
        color: #011B72;
        font-size: 20px;
        text-transform: uppercase;
        border: 1px solid #FFFFFF;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .btn-entrar:hover{
        background-color: #c1c9e0;
    }

    .btn-cadastrar{
        width: 167px;
        height: 50px;
        position: relative;
        top: 12px;
        margin: auto;
        background: #fff;
        color: #011B72;
        font-size: 20px;
        text-transform: uppercase;
        border: 1px solid #FFFFFF;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .btn-cadastrar:hover{
        background-color: #c1c9e0;
    }

    .logo-roberta{
        width: 150px;
        margin: auto auto;
    }
    .cadastro{
        display: none;
    }
    
}

@media (min-width: 1200px){
    .leftbar-login{
        position: absolute;
        z-index: 1000;
        width: 278px;
        height: 578px;
        left: 230px;
        top: 13.8rem;
        background: #011B72;
        border-radius: 16px 0px 0px 16px;
    }
    .rightbar-cadastro{
        width: 988px;
        height: 578px;
        bottom: 0;
        top: 13.8rem;
        position: absolute;
        width: 988px;
        height: 576px;
        left: 239px;
        top: 222px;
        background: #FFFFFF;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
        border-radius: 16px 0px 0px 16px;
    }
    .container-md{
        position: relative;
        right: 5rem;
        bottom: 3.5rem;
    }
    .h1-text{
        font-size: 35px;
        font-weight: 700;
        color: #fff;
        margin-left: 25px;
    }
    .h5-text{
        margin-top: 35px;
        margin-bottom: 25px;
        margin-left: 25px;
        margin-right: 22px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    }
    .a-link{
        position: absolute;
        top: 30rem;
        left: 2rem;
        text-decoration: none;
        font-weight: 700;
        color: #fff;
     }

     .a-link:hover{
        color: #a0a7bb;
     }

    .btn-entrar{
        width: 167px;
        height: 50px;
        position: absolute;
        top: 24rem;
        left: 25px;
        background: #fff;
        color: #011B72;
        font-size: 20px;
        text-transform: uppercase;
        border: 1px solid #FFFFFF;
        border-radius: 30px;
    }
    .btn-entrar:hover{
        background-color: #c1c9e0;
    }
    
    .cadastro{
        display: flex;
        flex-direction: column;
        position:absolute;
        gap: 25px;
        top: 4rem;
        left: 20rem;
        width: 650px;
    }
    input{
        border: 4px solid #011B72;
        height: 50px;
        padding-left: 30px;
        border-radius: 8px;
    }
    .h1-text-cadastro{
        font-size: 45px;
        font-weight: 700;
        color:#011B72;
        text-align: center;
    }
    .p-text-cadastro{
        font-size: 22px;
        text-align: center;
        color: #A4A0A0C2;
    }
    .btn-cadastrar{
        display: none;
    }
    .btn-cadastrar-2{
        width: 167px;
        height: 50px;
        position: absolute;
        top: 25rem;
        left: 14rem;
        background: #fff;
        color: #011B72;
        font-size: 20px;
        text-transform: uppercase;
        border: 1px solid #011B72;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .btn-cadastrar-2:hover{
        background-color: #c1c9e0;
    }
    .input-nome{
        background:url(../img/user_input.png);
        background-repeat: no-repeat;
        background-position: 4px;
    }
    .input-email{
        background: url(../img/email_input.png);
        background-repeat: no-repeat;
        background-position: 4px;
    }
    .input-pass{
        background: url(../img/pass_input.png);
        background-repeat: no-repeat;
        background-position: 4px;
    }
    .logo-roberta{
        position: relative;
        left: 55px;
        width: 150px;
    }
}





